---
---
// amarelo: margem
// roxo: padding
@import "minima";

body {
	background-color: #fffcea;
	font-family: 'Open Sans', serif;
}

blockquote {
	color: #595959;
}

p {
	font-family: 'Noto Serif', serif;
}

h1 {
}

.page-content {
    padding: 20px 0 0 0;
}

.site-header {
    border-bottom: 3px solid #424242;
    border-top: none;
    //min-height: 55.95px;
    position: relative;
}

.post-list li {
	margin-bottom: 2px;
}

.site-title a {
	color: #424242;
}

.post-link {
	display: inline;
	font-size: 24px;
}
	@media screen and (max-width: 800px) {
		.post-link {
			display: block;
			margin-bottom: 0px;
		}
	}

.site-title p {
	font-size: 12pt;
	// padding: -60px 0;
	// margin: -20px 0 0 0;
	line-height: 15px;
}

.site-footer {
	padding: 0px;
}

.page-heading {
	font-size: 17px;
	margin: 0;
}

.footer-heading {
    font-size: 18px;
    margin: 20px 0 0 0;
}

.site-nav-mine {
	float: right;
	line-height: 54px;
	padding-top: 1px;}
		.site-nav-mine .nav-trigger {
			display: none; }
		.site-nav-mine .menu-icon {
			display: none; }
		.site-nav-mine .page-link {
			color: #111;
		line-height: 1.5; }
			.site-nav-mine .page-link:not(:last-child) {
			margin-right: 20px; }
			
